.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Settings */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.address {
  display: none;
}

.header-logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
}
/* Burger menu */
.burger-btn {
  padding: 0;
  margin-left: 149px;
  min-width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
}

.button-close:hover .svg-close,
.button-close:focus .svg-close {
  fill: #fff;
}

.svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-items:hover,
.mobile-menu-items:focus {
  color: #404bbf;
}

.mobile-address {
  display: block;
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.address-link {
  display: block;
  color: rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #4d5ae5;
}

.address-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

/* .mobile-address-list-item {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-list-item:focus,
.mobile-address-list-item:hover {
  color: #4d5ae5;
} */

.socials-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.mobile {
  justify-content: space-between;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #404bbf;
}

.svg-social-icons {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    color: #2e2f42;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
  }

  .header-list:hover,
  .header-list:focus {
    color: #404bbf;
  }

  .header-list-item {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-link {
    color: #404bbf;
  }

  .header-list-item::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-list-item:hover::after,
  .header-list-item:focus::after,
  .header-list-item.active-link::after {
    opacity: 1;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }

  /* .address-list-item {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.2);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list-item:focus,
  .address-list-item:hover, */
  .header-list-item:focus,
  .header-list-item:hover {
    color: #4840bf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  /* .address-list-item {
    
    line-height: 150%;
    letter-spacing: 0.02em;
  } */

  .address-desktop {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}

/* Main section banner */
.banner-solutions {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image-mobile1x.jpg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  padding: 72px 0;
  /* padding-top: 72px;
  padding-bottom: 72px; */
  margin-left: auto;
  margin-right: auto;
}

@media (min-resolution: 192dpi) {
  .banner-solutions {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-mobile2x.jpg");
  }
}
.banner-title {
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-service {
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service:hover,
.button-service:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .banner-solutions {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-tablet1x.jpg");
    max-width: 768px;
    padding: 112px 0;
    /* padding-top: 188px;
  padding-bottom: 188px; */
  }

  @media (min-resolution: 192dpi) {
    .banner-solutions {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-image-tablet2x.jpg");
    }
  }

  .banner-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 107%;
  }
}

@media screen and (min-width: 1158px) {
  .banner-solutions {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    max-width: 1140px;
    padding: 188px 0;
  }

  @media (min-resolution: 192dpi) {
    .banner-solutions {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office2x.jpg");
    }
  }

  .banner-title {
    margin-bottom: 36px;
  }
}

/* Main section solutions */
.icons-list {
  display: none;
}
.section-solutions {
  padding: 96px 0;
}
.solutions {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.solution-list {
  max-width: 288px;
}

.icons-item {
  display: block;
}

.solutions-title {
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solutions-text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .section-solutions {
    padding: 96px 0;
  }
  .solutions {
    row-gap: 72px;
    column-gap: 24px;
  }

  .solution-list {
    max-width: calc((100% - 24px) / 2);
  }

  .solutions-title {
    text-align: inherit;
  }
}

@media screen and (min-width: 1158px) {
  .section-solutions {
    padding: 120px 0;
  }
  .solutions {
    gap: 24px;
  }

  .solution-list {
    width: calc((100% - 72px) / 4);
  }

  .icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 0;
    margin-bottom: 8px;
  }

  .icons-item {
    display: block;
  }

  .solutions-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .solutions-text {
    font-weight: 400;
  }
}

/* Main section our time */
.time {
  background: #f4f4fd;
  padding: 96px 0;
}

.time-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.time-list {
  display: flex;
  gap: 72px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.time-list-item {
  text-align: center;
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.time-text-container {
  padding: 32px 0;
}

.time-persons {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.time-persons-professions {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .time-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .time-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
